@model UserModel
@{
    ViewData["Title"] = "Cadastro";
}
<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />

<h1 class="title">@ViewData["Title"]</h1>

<div class="Container">
    <section class="Wrapper">
        <form class="Wrapper_Form" asp-controller="Register" asp-action="RegisterUser" method="post">
            <input type="email" asp-for="Email" placeholder ="Email" class="Input_Chield"/>
            <input type="password"  asp-for="Password"  placeholder="Senha"  class="Input_Chield"/>
           <button type="submit" class="btn btn-outline-secondary">Registrar</button>
        </form>
    </section>

</div>