@model UserModel
@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />

<h1 class="title">@ViewData["Title"]</h1>

<div class="Container">
    <section class="Wrapper">
        <form class="Wrapper_Form" asp-controller="Login" asp-action="listUsers" method="get">
            <input type="email"  asp-for="Email"  placeholder ="Email" class="Input_Chield"/>
            <input type="password" asp-for="Password"  placeholder="Senha"  class="Input_Chield"/>
           <button type="submitt" class="btn btn-outline-danger">Logar</button>
        </form>
    </section>

</div>