@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />

<h1 class="title">@ViewData["Title"]</h1>

<div class="Container">
    <section class="Wrapper">
        <form class="Wrapper_Form">
            <input type="email" placeholder ="Email" class="Input_Chield"/>
            <input type="password" placeholder="Senha"  class="Input_Chield"/>
           <button type="button" class="btn btn-outline-danger">Logar</button>
        </form>
    </section>

</div>