@{
    ViewData["Title"] = "Home Page";
}
@model UserModel

<div class="text-center">
    <h1 class="display-4">Inicio dos estudos</h1>
    <p class="email">Email: @Model.Email</p>
    <p>Senha: @Model.Password </p>
</div>
