@model List<UserModel> 
@{
    ViewData["Title"] = "Lista de usuários";
}
<link rel="stylesheet" href="~/css/TableUsers.css">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
<h1>@ViewData["Title"]</h1>

<div>
<table class="table caption-top">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col" class="HeaderTable">Id</th>
      <th scope="col" class="HeaderTable">Email</th>
      <th scope="col" class="HeaderTable">Password</th>
    </tr>
  </thead>
  <tbody>
    @if(Model.Any()){
        foreach(var index in Model){
    <tr>
        <th scope="row" class="ContentTd">@index.Id</th>
        <td class="ContentTd">@index.Email</td>
        <td class="ContentTd">@index.Password</td>
        <td class="ContentTd">
            <button type="button" class="btn btn-outline-danger">Excluir</button>
            <button type="button" class="btn btn-outline-warning">Editar</button>
        </td>
    </tr>
        }
    }
   
  </tbody>
</table>
</div>